.inside-input {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

._odd {
  background-color: #f6f6f6;
}

_legend {
   color: #668f28;
}
